
<h1>list of all article</h1>
  <table>
    <tr>
      <th>title</th>
      <th>text</th>
    <tr>

  <% @article.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= truncate(article.text, length: 75) %></td>
      <td><%= link_to 'show', article_path(article) %></td>
      <td><%= link_to 'edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete',article_path(article),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
       </td>
    </tr>
    <% end %>
</table>

<p>
<%= link_to 'home', welcome_index_path %>
<%= link_to 'new', new_article_path %>
</p>
