<div class="row">
  <div class="col"></div>
    <div class="col-md-7">
<%= image_tag 'YAN-JIANG.jpg', style:"width:100%" %>
<p>
  <h2>TITLE</h2>
  <strong><%= @article.title %></strong>
</p>
<p>
    <%= @article.created_at.strftime('%A %-b %-d, %Y | %l.%M %p') %>
</p>

<p>
  <h3>ARTICLE</h3>
    <%= @article.text %>
</p>

<hr>
<%= render 'comments/comment' %>
<hr>
<%= render 'comments/form' %>


<p>
<%= link_to 'Back', articles_path, class:'btn btn-md btn-info' %>
<%= link_to 'Home', welcome_index_path, class:'btn btn-md btn-primary' %>
</p>

</div><!-- col-md-7 -->
 <div class="col"></div>
</div><!-- row -->
