
<p><strong>title</strong>
  <%= @article.title %>
</p>
<p><strong>TIME:</strong>
    <%= @article.created_at %>
</p>

<p><strong>Text:</strong>
    <%= @article.text %>
</p>

<hr>
<%= render 'comments/comment' %>
<hr>
<%= render 'comments/form' %>




<p>
<%= link_to 'back', articles_path %>
<%= link_to 'home', welcome_index_path %>
</p>
